body {
    font-family: "HiraMinProN-W3", serif, sans-serif;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -epub-writing-mode: vertical-rl;
    line-height: 1.75;
    text-align: justify;
}

.tcy {
  -epub-text-combine:horizontal;
  -webkit-text-combine:horizontal;
}

